<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<!-- https://www.freepik.es/foto-gratis/cajas-carton_7220952.htm#query=packages%20boxes&position=29&from_view=search&track=ais -->
<body>
    <header>
        <div class="header-items">
            <a href="/" class="link-img-logo"><img class="img-logo" src="/images/logo-mercado-liebre.svg"></a>
            <form class="header-container-input">
                <input class="header-input" type="text" placeholder="Buscar productos, marcas">
                <button class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="header-text">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>

        <div class="header-link-container">
            <ul>
                <li>
                    <a href="" rel="nofollow">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                </li>
                <li>
                    <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
                <li>
                    <a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
            </ul>
        </div>

        <div class="burger-menu-button">
            <button>
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <main>
        <form action="/" method="POST" class="container">
            <p>
                Formulario de Registro
            </p>
            <p>
                <label for="full-name" class="tittle-hidden">Nombre y apellido: </label>
                <input type="text" name="Nombre y apellido" id="full-name" placeholder="Nombre y apellido" required>
            </p>

            <p>
                <label for="user-name" class="tittle-hidden">Nombre de usuario: </label>
                <input type="text" name="Usuario" id="user-name" placeholder="Usuario" required>
            </p>

            <p>
                <label for="user-name" class="tittle-hidden">Correo Electronico: </label>
                <input type="email" name="email" id="user-email" placeholder="E-Mail" required>
            </p>

            <p>
                <label for="user-date" class="tittle">Fecha de nacimiento </label> <br>
                <input type="date" name="Date" id="user-date" placeholder="Fecha de nacimiento" required>
            </p>

            <p>
                <label for="user-home" class="tittle-hidden">Domicilio: </label>
                <input type="text" name="Home" id="user-home" placeholder="Domicilio" required>
            </p>

            <div class="radios-container">
                <label for="user-profile" class="tittle">Perfil de usuario</label>
                <div class="radios">
                    <div>
                        <input type="radio" name="profile" id="seller" value="Vendedor" required><label
                        for="seller">Vendedor</label>
                    </div>
                    <div>
                        <input type="radio" name="profile" id="shopper" value="Comprador" required><label
                        for="shopper">Comprador</label>
                    </div>
                </div>
            </div>

            <p>
                <label for="user-interest" class="tittle">Intereses</label> <br>
                <input type="checkbox" name="interest" value="Electro" id="electro"><label for="electro">Electro</label>
                <br>
                <input type="checkbox" name="interest" value="Moda" id="moda"><label for="moda">Moda</label> <br>
                <input type="checkbox" name="interest" value="Hogar" id="hogar"><label for="hogar">Hogar</label> <br>
                <input type="checkbox" name="interest" value="Juguetería" id="juguetería"><label
                    for="juguetería">Juguetería</label> <br>
                <input type="checkbox" name="interest" value="Vida-sana" id="vida-sana"><label for="vida-sana">Vida
                    sana</label>
            </p>

            <p>
                <label for="user-img" class="tittle">Foto de Perfil </label>
                <input type="file" name="Img" id="user-img" required>
            </p>

            <p>
                <label for="user-password" class="tittle">Contraseña </label>
                <input type="password" name="user-password" id="user-password" placeholder="Contraseña" required>
            </p>
            <p>
                <label for="user-password-confirm" class="tittle-hidden">Confirma contraseña </label>
                <input type="password" name="user-password-confirm" id="user-password-confirm"
                    placeholder="Confirmar contraseña" required>
            </p>

            <button class="btn-enviar" type="submit">ENVIAR</button>
            <button class="btn-borrar" type="reset">BORRAR</button>
        </form>
    </main>

    <footer>
        <section class="fot-sec-container">
            <article class="fot-sec">
                <div class="fot-icon"> <i class="fa-solid fa-credit-card"></i></div>
                <p class="fot-titulo">Pagá con tarjeta o en efectivo</p>
                <p class="fot-descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="fot-sec">
                <div class="fot-icon"> <i class="fa-solid fa-gift"></i></div>
                <p class="fot-titulo">Envío gratis desde $ 2.500</p>
                <p class="fot-descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="fot-sec">
                <div class="fot-icon"> <i class="fa-solid fa-user-shield"></i></div>
                <p class="fot-titulo">Seguridad, de principio a fin</p>
                <p class="fot-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <section>
            <p id="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>