:root {
    --Amarillo: #EAC926;
    --Azul: #05366b;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 2px;
    margin-bottom: 0;
}

.header-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
}

.img-logo {
    width: 40%;
    height: auto;
}

.header-container-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-input {
    border: none;
    border-radius: 6px 0 0 6px;
    height: 2.2rem;
    width: 85%;
    outline: none;
    padding-left: 1rem;
    color: var(--Gris-oscuro);
}

.search-icon {
    text-align: center;
    background: white;
    height: 2.2rem;
    width: 1rem;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    border: none;
}

.search-icon i {
    color: gray;
    transition: 0.1s;
}

.search-icon i:hover {
    scale: 1.05;
}

.header-text {
    font-size: 15px;
}

.header-link-container {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.header-link-container :nth-child(1) {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.header-link-container :nth-child(2) {
    display: flex;
    align-items: center;
    padding: 5px;
}

.header-link-container * a {
    text-decoration: none;
    color: var(--Azul);
}

.header-link-container * a:hover {
    text-decoration: underline;
}

.burger-menu-button {
    display: flex;
    justify-content: center;
}

.burger-menu-button button {
    background-color: #1259c3;
    padding: 5px 5px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    width: 2.2rem;
    height: auto;
    margin: 0;

    color: white;
    font-weight: 900;
    align-items: center;
    font-size: 23px;
    margin: 3px;
}

.burger-menu-button button:hover {
    background-color: var(--Azul);
}


main {
    width: 90vw;
    margin: 0 auto;

}

section article {
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-banner {
    width: 100vw;
    height: 100%;
}

.general-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-number {
    display: flex;
    align-items: center;
}

.cont-number :nth-child(1) {
    width: 30%
}

.cont-number :nth-child(2) {
    width: 70%;
}

.precios {
    font-size: 18px;
    margin: 0;
}

.descuentos {
    font-size: 16px;
    margin: 0;
    color: #39b54a;
}

.titulares {
    font-size: 24px;
    margin: 0;
}


.descripciones {
    font-size: 17px;
    margin: .8rem 0 0 0;
    color: var(--Gris-oscuro);
    font-weight: bold;
}

.caja-articulo {
    background-color: white;
    width: 90%;
    position: relative;

}

.contenido-articulo {
    padding: 15px;
    background-color: white;
    border-top: solid 1px #ebebeb;
}

#logo-envio {
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: 70px;
    z-index: 11;

    transition: 800ms;
}


.caja-articulo:hover,
.caja-articulo:focus {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.caja-articulo i:hover,
.caja-articulo i:focus {
    transform: rotateZ(-90deg);
}

.caja-articulo:hover .contenido-articulo,
.caja-articulo:focus .contenido-articulo {
    animation: mostrar 800ms 1 forwards;
    box-shadow: 0px 4px 5px 1px rgba(100, 100, 100, 1);
}

footer {
    margin: 0;
    background-color: #ebebeb;
}

.fot-sec-container {
    display: flex;
    flex-wrap: wrap;
}

.fot-sec {
    text-align: center;
    margin: 32px;
    padding-top: 40px;
}

.fot-icon {
    align-items: center;
    font-size: 2rem;
    margin: 3px;
}

.fot-icon i {
    color: #1259c3;
}

.fot-icon i:hover,
.fot-icon i:focus {
    color: #0022AA;
}

.fot-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 2px;
}

.fot-descripcion {
    margin-top: 0;
}

#copy {
    opacity: .5;
    padding: 5px;
}



@keyframes mostrar {
    50% {
        z-index: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        z-index: 1;
    }
}

@media (min-width: 413px) {
    .header-link-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu-button {
        display: none;
    }

    .descripciones {
        font-size: 16px;
        margin: 0;
    }

    .general-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .caja-articulo {
        position: relative;
        width: 45%;
        height: 100%;
    }

    .contenido-articulo {
        position: absolute;
        width: 100%;

        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;

        transition-duration: 900ms;
    }

    .caja-articulo i {
        opacity: 0;
    }

    #logo-envio {
        right: 40px;
        bottom: 0px;
    }

    .caja-articulo:hover i {
        opacity: 1;
        transform: translateY(13px);
    }

    .caja-articulo i:hover {
        transform: translateY(13px) rotateZ(-90deg);
    }

}

@media(min-width:769px) {
    .img-logo {
        width: 20%;
        padding-top: 20px;
        padding-bottom: 6px;
    }

    .header-input {
        height: 3rem;
        width: 35rem;
        font-size: 1.2rem;
    }

    .search-icon {
        height: 3rem;
        width: 3rem;
    }

    .search-icon i {
        font-size: 1.2rem;
    }

    .burger-menu-button {
        display: none;
    }

    .descripciones {
        display: contents;
    }

    .general-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .caja-articulo {
        position: relative;
        width: 24%;
        height: 100%;
    }

    .contenido-articulo {
        position: absolute;
        width: 100%;

        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;

        transition-duration: 900ms;
    }

    .caja-articulo i {
        opacity: 0;
    }

    #logo-envio {
        right: 40px;
        bottom: 0px;
    }

    .caja-articulo:hover i {
        opacity: 1;
        transform: translateY(13px);
    }

    .caja-articulo i:hover {
        transform: translateY(13px) rotateZ(-90deg);
    }

    .fot-sec-container {
        display: flex;
        flex-wrap: nowrap;
    }

}